
@media (max-width: 1024px) {
    body {
        margin: 4.8rem;
    }
    html {
        font-size: 56.25%;
    }
    .container {
        width:80%;
    }
    .login-panel{
        padding: 0 4.2rem 0 4.2rem;
    }
}
@media (max-width: 768px) {
    .login-panel{
        flex: 0.8;
        padding: 0 3.2rem 0 3.2rem;
    }
    .hero-panel{
        padding: 2.8rem;
    }
}
@media (max-width: 568px) {
    .container{
        flex-direction: column-reverse;
        flex-flow: column-reverse;
        height: max-content;
    }
    .login-panel{
        padding: 3.2rem;
        align-items: center;
        border-radius: 2rem;
        z-index: 1;
    }
    .hero-panel{
        text-align: center;
        padding: 5.2rem;
    }

}
@media (max-width: 368px) {
    html{
        font-size: 43.75%;
    }
}
@media (max-width: 268px) {
    html{
        font-size: 31.25%;
    }
}