*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-bg:#1b1b1b;
    --color-secondary:#ad40f3;
}
body,
html {
    height: 100%;
    width: 100%;
}
body {
    background-color: var(--color-bg);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}
html {
    font-size: 62.5%;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.primary-heading{
    font-size: 4rem;
    font-weight: 500;
}
span{
    font-size: 1.2rem;
}
.container{
    max-width: 90rem;
    margin: 0 auto;
    width: 90rem;
    height: 50rem;
    border-radius: 2rem;
    overflow: hidden;
    -webkit-box-shadow: -4px 20px 24px -17px rgba(0, 0, 0, 1);
    -moz-box-shadow: -4px 20px 24px -17px rgba(0, 0, 0, 1);
    box-shadow: -4px 20px 24px -17px rgba(0, 0, 0, 1);
}
.login-panel{
    flex-direction: column;
    flex: 0.7;
    background-color: var(--color-bg);
    height: 100%;
    width: 100%;
    gap: 2.4rem;
    align-items: flex-start;
    padding: 0 5.2rem 0 5.2rem;
    transform: translateX(-200%);
    transition: all 1s;
    transition-delay: 1s;
}
.icons{
    gap: 2rem;
}
.icon{
    font-size: 2.5rem;
    color: var(--color-secondary);
    transition: all 0.3s;
}
.icon:hover{
    transform: scale(1.1);
}
.login-form {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem;
    width: 100%;
}
.input-field {
    position: relative;
    width: 100%;
}

.input-data {
    top: 0;
    left: 0;
    width: 100%;
    height:3rem;
    color: white;
    outline: none;
    padding: 2rem;
    background: none;
    border: none;
    border-bottom: 1px solid ;
    font-size: 1.2rem;
    transition: all 0.3s;
}

.input-label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: white;
    cursor: text;
    transition: all 0.3s;
    font-size: 1.2rem;
    padding:0 0.5rem;
    z-index: 111;
}

.input-data:focus,
.input-data:not(:placeholder-shown):not(:focus) {
    box-shadow: inset 0 0 0 2px var(--color-secondary);
    border-color: var(--color-secondary);
    border-radius: 1rem;
}
.input-data:focus ~ .input-label,
.input-data:not(:placeholder-shown):not(:focus) ~ .input-label {
    top: -0.5rem;
    font-size: 1.1rem;
    left: 0.8rem;
    background-color: var(--color-bg);
    color: var(--color-secondary);
}

.btn{
    width: 100%;
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--color-secondary);
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover{
    box-shadow: inset 0 0 0 2px var(--color-secondary);
    background: none;
}
.hero-panel{
    flex: 1;
    background-color: var(--color-secondary);
    height: 100%;
    width: 100%;
    padding: 4.8rem;
    transform: translateX(200%);
    transition: all 1s;
}
.hero-msg{
    font-size: 4.2rem;
    transform: translateX(200%);
    transition: all 1s;
    transition-delay: 0.5s;
}